.input__container {
    border: 1px solid #ccc;
    border-radius: .25em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .2em;
    font-size: 14px;
    color: $fg_input;

    .input__counter {
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        color: $fg_input;
    }

    &:focus-within {
        border-color: $hero;
        color: $hero;
    }

    &.isValid {
        @include isValid;
    }

    &.alertUser {
        @include alertUser;
    }
}
