.taglist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5em;

    .tag {
        @include flex_row_sb;
        background-color: $hero;
        padding: .2em;
        gap: .2em;
        color: #fff;
        border-radius: .2em;

        &__text {
            font-size: 14px;
        }

        .btn__closeTag {
            cursor: pointer;
            font-size: 16px;
        }
    }
}
